<!-- PHP VARIABLES -->
<!-- DATA = Arreglo con los resultados del cuestionario -->
<div id="result-container" style="width: 100%;">
    <canvas id="resultados" width="400" height="400"></canvas>
</div>

<script>
    var ctx = document.getElementById("resultados").getContext("2d");
    ctx.canvas.height = 400;
    ctx.canvas.width = document.getElementById('result-container').innerWidth;
    var resultados = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: JSON.parse('%LABELS%'),
            datasets: [{
                data: JSON.parse('%DATA%'),
                backgroundColor: JSON.parse('%COLORS%'),
                borderColor: JSON.parse('%COLORS%'),
                borderWidth: 1
            }]
        }
    });
</script>