<!-- PHP VARIABLES -->
<!-- REQUEST_URI = URL para guardar el formulario -->
<!-- PREGUNTAS = JSON STRING CON LAS PREGUNTAS -->
<!-- ORG_ID = Hash de la empresa -->
<!-- ORG_NAME = Nombre de la organizacion en base al link -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <form id="formulario" class="row" action="%REQUEST_URI%" method="POST">
                <input type="hidden" name="organizacion" value="%ORG_ID%" required>
                <div class="col-12">
                    <h1>Cuestionario de Calidad De Vida Laboral Para: %ORG_NAME%</h1>
                    <h2>Instrucciones</h2>
                    <p>
                        Este estudio tiene como objetivo analizar cómo influye sobre la calidad de vida laboral fenómenos como el estrés laboral. Para ello, hemos elaborado un conjunto de escalas que, si son contestadas con sinceridad, nos permitirán comprender mejor esos procesos y su influencia sobre el trabajo.
                        El cuestionario que usted rellene no será enseñado bajo ninguna razón o circunstancia a personas empleadas en su organización. Sólo tendrán acceso a su contenido los miembros del equipo de investigación. Todos los datos que refleje en él serán tratados confidencialmente. Su anonimato será mantenido en todo momento y los datos sólo se analizaran de forma agrupada.
                        Es importante que responda a todas las cuestiones, pues las omisiones invalidan el conjunto de la escala a la que está respondiendo. Responda seleccionando la alternativa adecuada o escribiendo las respuestas en los espacios que preceden a las cuestiones, según proceda. Compruebe al final que ha contestado a todas las preguntas.
                        Esperamos que comprenda la importancia de este estudio para el colectivo profesional del que forma parte y para futuras intervenciones que pueden mejorar su calidad de vida y la de sus compañeros de profesión. Por ello, le solicitamos su colaboración. Solo le llevará alrededor de 30 minutos contestarlo.
                        Muchas gracias por el tiempo que va a dedicar a responder a este cuestionario.
                    </p>
                </div>
                <section class="container-fluid border pb-5" id="preguntas">
                    <!-- <div class="form-group col-12">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div> -->
                </section>
                
                <!-- <div class="form-group col-12">
                    <label for="fechadenacimiento">Fecha de Nacimiento</label>
                    <input id="fechadenacimiento" name="fechadenacimiento" required>
                </div>
                <div class="col-12">
                    <span>Edad:
                        <span id="edad-span"></span>
                    </span>
                    <input type="hidden" id="edad" name="edad">
                </div>
                <div class="col-12 pt-3">
                    <h3>Preguntas</h3>
                </div>
                <div class="container-fluid pb-5">
                    <div id="preguntas" class="container-fluid border"></div>
                </div> -->
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" name="submitted">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function ($) {
        var data = JSON.parse('%DATA%');
        Object.keys(data).forEach(function (key, index, array) {
            var tipo = key;
            var descripcion = data[key].descripcion;
            // <h2>Instrucciones</h2>
            var div = '\
            <div class="container-fluid border">';
            if (descripcion) {
                div += '\
                    <div class="col-12">\
                        <p>' + descripcion + '</p>\
                    </div>';
            }
            
            data[key].preguntas.forEach(function (pregunta, i, a) {
                var background = '';
                if (i % 2 !== 0) {
                    background = 'style="background: rgba(192,192,192,0.3);" ';
                }
                div += '\
                <div ' + background + 'class="row pb-2 border-bottom">\
                    <div class="col-12 col-sm-6">\
                        <label for="pregunta_' + pregunta.id + '_' + pregunta.inversa + '">' + pregunta.pregunta + '</label> \
                    </div>\
                    ' + construirOpciones(pregunta.posibles_respuestas, 'pregunta_' + pregunta.id + '_' + pregunta.inversa) + '\
                </div>';
            });
            div += '</div>';
                
            $("#preguntas").append(div);
        });

        function construirOpciones(posibles_respuestas, name) {
            var opciones = '';
            var select = false;
            posibles_respuestas.forEach(function (posibles_respuesta, index, array) {
                switch(posibles_respuesta.tipo) {
                    // case 'R':
                    //     // Radio button
                    //     opciones += '\
                    //         <div class="form-check form-check-inline">\
                    //             <input class="form-check-input" type="radio" name="'+ name + '" id="'+ name + '_' + index + '" value="'+ posibles_respuesta['valor'] + '">\
                    //             <label class="form-check-label" for="'+ name + '">'+ posibles_respuesta['label'] + '</label>\
                    //         </div>';
                    //     break;
                    case 'O':
                        // Opcion abierta
                        opciones += '\
                            <div class="col-5">\
                                <input type="number" class="form-control" id="'+ name + '" placeholder="'+ posibles_respuesta['label'] + '" name="'+ name + '">\
                            </div>';
                        break;
                    case 'S':
                    case 'R':
                        // Dropdown con opciones
                        if(index === 0) {
                            opciones += '\
                                <div class="col-5">\
                                    <select class="form-control" id="'+ name + '" name="'+ name + '">\
                                    <option value="'+ posibles_respuesta['valor'] + '">'+ posibles_respuesta['label'] + '</option>';
                            break;
                        } else if (index > 0 && index < array.length - 1) {
                            opciones += '\
                                <option value="'+ posibles_respuesta['valor'] + '">'+ posibles_respuesta['label'] + '</option>';
                            break;
                        } else {
                            opciones += '\
                                </select>\
                                </div>';
                            break;
                        }
                }
            });
            return opciones;
        }
    });
</script>